@import url(https://fonts.googleapis.com/css?family=Lora&display=swap);
body{
    background: linear-gradient(0deg, #ff0000 5%, #000000 92%);
    font-family: Lora;
}
p{
    color:  rgb(247, 155, 155);
}
.navbar .navbar-nav .nav-link.active{
    color: red;
}
.navbar .navbar-nav .nav-link{
    color: rgb(247, 155, 155);
}
.navbar-brand img{
    width: 40px;
}
.navbar-toggler{
    background-color: red;
}
.nav-right{
    color: rgb(247, 155, 155);
    background: linear-gradient(280deg, #ff0000 5%, #000000 92%);
}
.card-body a{
    text-decoration: none;
    color: black;
}
.slide-text{
    color: rgb(247, 155, 155);
    margin: auto auto;
}
footer,
.btn-outline-primary{
    background: linear-gradient(280deg, #ff0000 5%, #000000 92%);
}
.footer-text{
    color: rgb(247, 155, 155);
    margin: auto auto;
}
.footer-text>p>a{
    text-decoration: none;
    color:  rgb(247, 155, 155);
}
.phone-anime{
    animation: myAnim 2s ease 0s infinite normal forwards;
}
h1{
    color: rgb(247, 155, 155);
}
.adres-card{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 5px;
    border-style: dotted;
    border-color: rgb(187, 20, 220);
}
.adres-card img{
    width: 300px;
    height: 200px;
}
.text-info1{
    margin-left: 50px;
    color: rgb(247, 155, 155);
}
.nav-right img{
    width: 100%;
    height: 200px;
    margin: 0px;
    padding: 0px;
}
.card-text{
    color: #000000;
}



@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}




@media(max-width:750px){
    .carousel-indicators{
        display: none;
    }
}